@model IEnumerable<UsersManager.Models.User>

@{
    ViewBag.Title = "UserList";
}

<h2>Liste des usagers</h2>

<table class="table">
    <tr>
        <th>En ligne</th>
        <th>
            Type
        </th>
        <th>
            Nom
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            Vérifié
        </th>
        <th>
            Bloqué
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (UsersManager.Models.OnlineUsers.IsOnLine(item.Id))
                {
                    <span>oui</span>
                }
                else
                {
                    <span>non</span>
                }
            </td>
            <td>
                @item.UserType.Name
            </td>
            <td>
                @item.GetFullName()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @item.Gender.Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @if (item.Verified)
                {
                    <span>oui</span>
                }
                else
                {
                    <span>non</span>
                }
            </td>
            <td>
                @if (!item.IsAdmin)
                {
                    if (item.Blocked)
                    {
                        <input type="checkbox" id="blocked_@item.Id" class="CB_Blocked" checked />
                    }
                    else
                    {
                        <input type="checkbox" id="blocked_@item.Id" class="CB_Blocked" />
                    }
                }
                else
                {
                    <div></div>
                }

            </td>
            <td>
                @Html.ActionLink("Effacer", "Delete", new { id = item.Id })

            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script defer>
        setInterval(function () { CheckRefresh(); }, 5000);
        $(".CB_Blocked").change(
            function () {
                let userid = this.id.split('_')[1];
                window.location = "@Url.Action("ChangeUserBlockedStatus")" + "?userid=" + userid + "&blocked=" + this.checked.toString();
            });

        function CheckRefresh() {
            $.ajax({
                url: "@Url.Action("NeedUpdate")",
                method: 'GET',
                success: (needUpdate) => {
                    console.log(needUpdate)
                    if (needUpdate)
                        window.location = "@Url.Action("UserList")";
                }
            });
        }
</script>
}
